body{
    background-color: #f5f5dc;
}

#mainDiv{
    border-top: 6px solid blue;
    margin: 56px;
    width: 500px;
    background-color: white;
    box-shadow: 5px 5px 5px gray;
}

#mainDiv div:first-child{
    border: 0px solid gray;
}

.item{
    border-top: 1px solid #aaa;
    padding: 16px 8px 16px 40px;
    position: relative;
    color: #555;
}

.text{
    padding-bottom: 16px;
    padding-left: 40px;
}

.sign{
    font-size: 16px;
    font-weight: bold;
    color: blue;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
}